Data/FlowEdgeOrangeAbeewayv2
[
    {
        "id": "37ac408d.02b288",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "427c98d9.604c88",
        "type": "mqtt in",
        "z": "37ac408d.02b288",
        "name": "Datavenue",
        "topic": "fifo/griotabee",
        "qos": "2",
        "datatype": "auto",
        "broker": "9ce5d302.3a97f",
        "x": 60,
        "y": 240,
        "wires": [
            [
                "f63e7087.61ee98",
                "11eb8d77.6bd4b3"
            ]
        ]
    },
    {
        "id": "22edaf62.3ada",
        "type": "function",
        "z": "37ac408d.02b288",
        "name": "Data Message",
        "func": "//var test=JSON.stringify(msg.payload);var capteurid=msg.payload.metadata.network.lora.devEUI;\nvar deviceID=msg.payload.metadata.network.lora.devEUI;\nvar temp=msg.payload.value.temperature.value;\nvar msgtype=msg.payload.value.messageType\nvar bat=msg.payload.value.battery.value;\nvar lon = msg.payload.location.lon;\nvar lat = msg.payload.location.lat\n\n\nvar donnees= {\n  \"deviceID\": deviceID,\n  \"temp\":temp,\n  \"humidity\":\"50\",\n    \"etat\":1,\n    \"battery\":bat,\n    \"location\" : {\n        \"lon\":lon,\n        \"lat\":lat,\n        \"alt\":\"0\",\n    }\n}\n\nvar newMsg = { payload: donnees};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 460,
        "wires": [
            [
                "280467b8.a864b8",
                "a1aaec8b.c01f"
            ]
        ]
    },
    {
        "id": "a1aaec8b.c01f",
        "type": "debug",
        "z": "37ac408d.02b288",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "ffa2c564.c505b8",
        "type": "switch",
        "z": "37ac408d.02b288",
        "name": "",
        "property": "payload.value.messageType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "HEARTBEAT",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "dataMessage",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ENERGY-STATUS",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "POSITION",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "MISC",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "FRAME-PENDING",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 370,
        "y": 460,
        "wires": [
            [
                "a3f58015.9b5f88"
            ],
            [
                "22edaf62.3ada"
            ],
            [
                "22edaf62.3ada"
            ],
            [
                "22edaf62.3ada"
            ],
            [
                "2c29014d.306716"
            ],
            [
                "52bdc26e.46b1a4"
            ],
            [
                "52bdc26e.46b1a4"
            ]
        ]
    },
    {
        "id": "a3f58015.9b5f88",
        "type": "function",
        "z": "37ac408d.02b288",
        "name": "Hearbeat",
        "func": "var capteurid=msg.payload.metadata.network.lora.devEUI;\nvar deviceID=msg.payload.metadata.network.lora.devEUI;\nvar temp=msg.payload.value.temperature.value;\nvar msgtype=\"Heartbeat\";\nvar bat=msg.payload.value.battery.value;\nvar lon = context.get('lon');\nvar lat = context.get('lat');\n\nvar donnees= {\n  \"deviceID\": deviceID,\n  \"temp\":temp,\n  \"humidity\":\"50\",\n    \"etat\":1,\n    \"mestype\":msgtype,\n    \"battery\":bat,\n}\n\nvar newMsg = { payload: donnees};\nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 340,
        "wires": [
            [
                "280467b8.a864b8",
                "a1aaec8b.c01f"
            ]
        ]
    },
    {
        "id": "efaf00.fe4df1",
        "type": "function",
        "z": "37ac408d.02b288",
        "name": "Autre message",
        "func": "//var deviceID=msg.payload.metadata.network.lora.devEUI;\nvar deviceID=\"20635F00C50000FE\"\n//var temp=msg.payload.value.temperature.value;\nvar msgtype=\"Alerte en déplacement\"\nvar bat=msg.payload.value.battery.value;\nvar lon = context.get('lon')||0;\nvar lat = context.get('lat')||0;\n\nvar donnees= {\n  \"deviceID\": deviceID,\n//  \"temp\":temp,\n  \"humidity\":\"50\",\n    \"etat\":2,\n    \"msgtype\":msgtype,\n    \"battery\":bat,\n    \"location\" : {\n        \"lon\":lon,\n        \"lat\":lat,\n        \"alt\":\"0\",\n    }\n}\n\nvar newMsg = { payload: donnees};\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 580,
        "wires": [
            [
                "280467b8.a864b8",
                "a1aaec8b.c01f"
            ]
        ]
    },
    {
        "id": "52bdc26e.46b1a4",
        "type": "switch",
        "z": "37ac408d.02b288",
        "name": "",
        "property": "payload.status.moving",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 620,
        "wires": [
            [
                "efaf00.fe4df1"
            ],
            [
                "efaf00.fe4df1"
            ]
        ]
    },
    {
        "id": "280467b8.a864b8",
        "type": "moduleoutput",
        "z": "37ac408d.02b288",
        "client": "24473b9.b985f44",
        "output": "VersIoTHub",
        "x": 1180,
        "y": 420,
        "wires": []
    },
    {
        "id": "9a634114.256b7",
        "type": "inject",
        "z": "37ac408d.02b288",
        "name": "",
        "topic": "messge test",
        "payload": "{\"metadata\":{\"connector\":\"lora\",\"source\":\"urn:lo:nsid:lora:20635F00C50000FE\",\"encoding\":\"abeeway_tracker_v1.2\",\"group\":{\"path\":\"/griotabee\",\"id\":\"Da7F7u\"},\"network\":{\"lora\":{\"signalLevel\":5,\"rssi\":-89,\"gatewayCnt\":1,\"esp\":-90.46,\"sf\":7,\"messageType\":\"UNCONFIRMED_DATA_UP\",\"port\":17,\"snr\":4,\"ack\":false,\"location\":{\"alt\":0,\"accuracy\":10000,\"lon\":3.098808,\"lat\":50.664314},\"fcnt\":4329,\"devEUI\":\"20635F00C50000FE\"}}},\"streamId\":\"urn:lora:20635F00C50000FE!uplink\",\"created\":\"2020-01-02T13:23:29.572Z\",\"extra\":{},\"location\":{\"provider\":\"lora\",\"alt\":0,\"accuracy\":10000,\"lon\":3.098808,\"lat\":50.664314},\"model\":\"model_abeeway_mastertracker_v5\",\"id\":\"5e0deed15f9d9296d8a883c0\",\"value\":{\"adt\":\"UNUSED\",\"messageType\":\"HEARTBEAT\",\"payload\":\"052097612040\",\"temperature\":{\"unit\":\"°C\",\"value\":5.07},\"ack\":2,\"deviceModel\":\"UNKNOWN\",\"resetCause\":\"\",\"battery\":{\"unit\":\"V\",\"valueFirmwarePrev15\":3.39,\"value\":3.63,\"inCharge\":false},\"status\":{\"onDemand\":false,\"appState\":\"idle\",\"userAlert\":false,\"periodic\":false,\"moving\":false,\"appMode\":\"motionTrack\"}},\"timestamp\":\"2020-01-02T13:23:29.971Z\",\"tags\":[\"BT\"]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 460,
        "wires": [
            [
                "ffa2c564.c505b8"
            ]
        ]
    },
    {
        "id": "d5cac7e2.d6b648",
        "type": "inject",
        "z": "37ac408d.02b288",
        "name": "",
        "topic": "",
        "payload": "{\"metadata\":{\"connector\":\"lora\",\"source\":\"urn:lo:nsid:lora:20635F00C50000FE\",\"encoding\":\"abeeway_tracker_v1.2\",\"group\":{\"path\":\"/griotabee\",\"id\":\"Da7F7u\"},\"network\":{\"lora\":{\"signalLevel\":5,\"rssi\":-89,\"gatewayCnt\":1,\"esp\":-90.46,\"sf\":7,\"messageType\":\"UNCONFIRMED_DATA_UP\",\"port\":17,\"snr\":4,\"ack\":false,\"location\":{\"alt\":0,\"accuracy\":10000,\"lon\":3.098808,\"lat\":50.664314},\"fcnt\":4329,\"devEUI\":\"20635F00C50000FE\"}}},\"streamId\":\"urn:lora:20635F00C50000FE!uplink\",\"created\":\"2020-01-02T13:23:29.572Z\",\"extra\":{},\"location\":{\"provider\":\"lora\",\"alt\":0,\"accuracy\":10000,\"lon\":3.098808,\"lat\":50.664314},\"model\":\"model_abeeway_mastertracker_v5\",\"id\":\"5e0deed15f9d9296d8a883c0\",\"value\":{\"adt\":\"UNUSED\",\"messageType\":\"POSITION\",\"payload\":\"052097612040\",\"temperature\":{\"unit\":\"°C\",\"value\":5.07},\"ack\":2,\"deviceModel\":\"UNKNOWN\",\"resetCause\":\"\",\"battery\":{\"unit\":\"V\",\"valueFirmwarePrev15\":3.39,\"value\":3.63,\"inCharge\":false},\"status\":{\"onDemand\":false,\"appState\":\"idle\",\"userAlert\":false,\"periodic\":false,\"moving\":false,\"appMode\":\"motionTrack\"}},\"timestamp\":\"2020-01-02T13:23:29.971Z\",\"tags\":[\"BT\"]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 560,
        "wires": [
            [
                "ffa2c564.c505b8"
            ]
        ]
    },
    {
        "id": "f63e7087.61ee98",
        "type": "json",
        "z": "37ac408d.02b288",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 210,
        "y": 320,
        "wires": [
            [
                "ffa2c564.c505b8"
            ]
        ]
    },
    {
        "id": "11eb8d77.6bd4b3",
        "type": "json",
        "z": "37ac408d.02b288",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 260,
        "y": 220,
        "wires": [
            [
                "a1aaec8b.c01f"
            ]
        ]
    },
    {
        "id": "2c29014d.306716",
        "type": "function",
        "z": "37ac408d.02b288",
        "name": "Message de configuration",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 520,
        "wires": [
            [
                "280467b8.a864b8"
            ]
        ]
    },
    {
        "id": "9ce5d302.3a97f",
        "type": "mqtt-broker",
        "z": "",
        "name": "Orange Datavenue Secure",
        "broker": "wss://liveobjects.orange-business.com:443/mqtt",
        "port": "8883",
        "tls": "1f024ac0.7ea22d",
        "clientid": "liveobject",
        "usetls": true,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
    },
    {
        "id": "24473b9.b985f44",
        "type": "moduleclient",
        "z": ""
    },
    {
        "id": "1f024ac0.7ea22d",
        "type": "tls-config",
        "z": "",
        "name": "Orange Trust",
        "cert": "",
        "key": "",
        "ca": "/usr/src/node-red/cert/CA-Root-Orange.cert",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true
    }
]